

html{
    background-color:rgb(22, 16, 25);
    font-size: 15pt;
    font-family:Arial, Helvetica, sans-serif;
    /* color:rgb(113, 160, 70); alternativ textfärg*/
    color: white;
}

header{
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: -10px;
    margin-left: 0px;
    padding-right: -10px;
}

.wrapper{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-left: 80px;
    margin-right: 80px;
}

.wrapper > div {
    background-color: black;
    border-radius: 10%;
    box-shadow: 8px 9px 16px 2px rgba(0,0,0,0.84);
  }
  
.wrapper > div:first-child{
    flex-basis: 33%;
    height: 550px;
}

.wrapper > div:nth-child(2){
    border: none;
    flex-basis: 66%;
    height: 550px;
}

.wrapper > div:nth-child(3){
    /* background-image: url(https://res.cloudinary.com/practicaldev/image/fetch/s--fZ8kJHEQ--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/nphrgz8yfnjylrwfr0yl.png); */
    /* background-size:cover; */
    flex-basis: 33%;
    height: 550px;
}

img{
    height: 100%;
    width: 100%;
}

.rubrik{
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    margin-top: -10px;
}    

.text{
    margin-top:-20px;
    padding: 30px;
    font-style:italic;
}

@media screen and (min-width: 768px) {

html{
    background-color:rgb(22, 16, 25);
    font-size: 15pt;
    font-family:Arial, Helvetica, sans-serif;
    /* color:rgb(113, 160, 70); alternativ textfärg*/
    color: white;
}



header{
    width: 90%;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: -10px;
}

.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-left: 80px;
    margin-right: 80px;
}

.wrapper > div {
    background-color: black;
    border-radius: 10%;
    box-shadow: 8px 9px 16px 2px rgba(0,0,0,0.84);
  }
  
.wrapper > div:first-child{
    flex-basis: 33%;
    height: 100%;
}

.wrapper > div:nth-child(2){
    border: none;
    flex-basis: 66%;
    height: 550px;
}

.wrapper > div:nth-child(3){
    /* background-image: url(https://res.cloudinary.com/practicaldev/image/fetch/s--fZ8kJHEQ--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/nphrgz8yfnjylrwfr0yl.png); */
    /* background-size:cover; */
    flex-basis: 33%;
    height: 100%;
}

img{
    height: 100%;
    width: 100%;
}

.rubrik{
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    margin-top: -10px;
}    

.text{
    margin-top:-20px;
    padding: 30px;
    font-style:italic;
}

}

